@model Web_Application.Models.UserData
@{
    ViewData["Title"] = "Account";
}



@{
    <style>
        #profile {
            display: none;
        }

        #email {
            display: none;
        }

        #password {
            display: none;
        }

        #tfa {
            display: normal;
        }

        #verification {
            display: none;
        }
        #enable_tfa {
            display: none;
        }

        #disable_tfa {
            display: none;
        }
    </style>
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/AccountStyle.css" />
    <script src="~/js/AccountScript.js"></script>
</head>
<body>

    <h2 class="nav-item">
        @ViewData["TextManage"]
    </h2>

    <br />
    <h3>
        @ViewData["TextChange"]
    </h3>
    <hr />

    <div class="container">
        <div class="leftbox">
            <nav>
                <button onclick="showprofile()" class="btn btn-primary"> @ViewData["Profile"] </button>
                <form asp-action="redirect_email">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Mail"]" />
                </form>
                <form asp-action="redirect_password">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Password"]" />
                </form>

                <button onclick="show2fa()" class=" mt-auto btn btn-primary">@ViewData["tfa"]</button>


            </nav>

        </div>
        <form asp-action="TFA">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="rightbox">

                <div id="profile">

                    <h1>@ViewData["Profile"]</h1>
                    <br />
                    <h3 class="nav-item">
                        @ViewData["User_name"]:
                    </h3>
                    <input type="text" disabled value="@ViewData["Username"]" />
                </div>


                <div id="email">
                    <h1>Manage email</h1>
                    <br />
                    <h3>Email:</h3>
                    <input type="email" disabled value="@ViewData["Email"]" />
                    <br /><br />
                    <h3>New Email:</h3>
                    <input asp-for="Email" type="email" />

                    <p style="color:red">@ViewData["WarningEmail"]</p>

                    <input type="submit" class="btn btn-primary" value="Change email" />


                </div>

                <div id="password">
                    <h1>Change password</h1>
                    <br />
                    <h3>New password:</h3>
                    <input asp-for="Password" type="password" />
                    <br /><br />
                    @ViewData["WarningPassword"] <br /> <br />
                    <input type="submit" class="btn btn-primary" value="Change password" />
                </div>


                <div id="tfa">
                    <h1> @ViewData["text_manage_tfa"]</h1>
                    <br />
                    <h3>2FA:@ViewData["2FA"]</h3>
                    @if (ViewBag.display == 0)
                    {<input type="submit" class="btn btn-primary" value="@ViewData["Enable_tfa"]" />}
                    @if (ViewBag.display == 1)
                    {<input type="submit" class="btn btn-primary" value="@ViewData["Disable_tfa"]" />}
                </div>


                <div id="verification">
                    <h1>@ViewData["WarningEmail"]</h1>
                    <h2>Confirme you action</h2>
                    <br />
                    <h3>Introduce verification code</h3>

                    <input asp-for="Secretkey" type="text" />
                    <br /><br />
                    <input type="submit" class="btn btn-primary" value="Confirme" />
                </div>
            </div>
        </form>
    </div>

</body>
</html>
