@model Web_Application.Models.UserData
@{
    ViewData["Title"] = "Account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/AccountStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function () {
            $("#profile").hide();
            $("#tfa").show();
        });
    </script>
    <h2 class="nav-item">
        @ViewData["TextManage"]
    </h2>

    <br />
    <h3>
        @ViewData["TextChange"]
    </h3>
    @if (ViewBag.display_2fa == "0")
    {<img style="width:25px; height:25px; float:left;" src="https://cdn-icons-png.flaticon.com/512/179/179386.png" /> <p style="color:red;"> @ViewData["warning_security"]</p>
    }
    <hr />

    <div class="container">
        <div class="leftbox">
            <nav>
                <button id="button_profile" class="btn btn-primary buton"> @ViewData["Profile"] </button>
                <script>
                    $(document).ready(function () {
                        $('#button_profile').click(function () {
                            $("#profile").show();
                            $("#tfa").hide();

                        });
                    });
                </script>
                <form asp-action="redirect_email">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Mail"]" />
                </form>
                <form asp-action="redirect_password">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Password"]" />
                </form>

                <button id="button_tfa" class=" mt-auto btn btn-primary buton">@ViewData["tfa"]</button>

                <script>
                    $(document).ready(function () {
                        $('#button_tfa').click(function () {
                            $("#profile").hide();
                            $("#tfa").show();
                        });
                    });
                </script>
            </nav>

        </div>
        <form asp-action="TFA">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="rightbox">

                <div id="profile">
                    <h1>@ViewData["Profile"]</h1>
                    <br />
                    <h3 class="nav-item">
                        @ViewData["User_name"]:
                    </h3>
                    <input type="text" disabled value="@ViewData["Username"]" />
                </div>

                <div id="tfa">
                    <h1> @ViewData["text_manage_tfa"]</h1>
                    <br />
                    @if (ViewBag.display_2fa == "0")
                    {<div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDisabled">Security:@ViewData["2FA"]</label>
                        </div>}

                    else
if (ViewBag.display_2fa == "1")
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Security:@ViewData["2FA"]</label>
                        </div>
                    }
                    <br />

                    <input id="button_submit" type="submit" class="btn btn-primary" />
                    <script>
                        $(document).ready(function () {
                            $('#button_submit').hide();
                            $(".form-check-input").click(function () {
                                $('#button_submit').click();
                            });                          
                        });
                    </script>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
