@model Web_Application.Models.UserData
@{
    ViewData["Title"] = "LogIn";
}



<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <form asp-action="TFA_LogIn">
        <div>
            <h1> @ViewData["Text_confirme"]</h1>

            <br />
            <h5>@ViewData["Text_Introduce"]</h5>
            <br />
            <h6> @ViewData["Text_pin"]</h6>
            <input asp-for="TFA" type="text" />
            <br /><br />
            @ViewData["Incorectpin"]
            <br /><br />
            <input type="submit" class="btn btn-primary buton" value="@ViewData["SignIn"]" />
        </div>
    </form>
    
</body>
</html>
