@model Web_Application.Models.UserData
@{
    ViewData["Title"] = "Account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/AccountStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function () {
            $("#profile").hide();
            $("#enable_tfa").show();
        });
    </script>
    <h2 class="nav-item">
        @ViewData["TextManage"]
    </h2>

    <br />
    <h3>
        @ViewData["TextChange"]
    </h3>
    <hr />

    <div class="container">
        <div class="leftbox">
            <nav>
                <button  class="btn btn-primary buton"> @ViewData["Profile"] </button>
                <script>
                    $(document).ready(function () {
                        $("button").click(function () {
                            $("#profile").show();
                            $("#enable_tfa").hide();

                        });
                    });
                </script>
                <form asp-action="redirect_email">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Mail"]" />
                </form>
                <form asp-action="redirect_password">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Password"]" />
                </form>

                <form asp-action="redirect_on_2fa">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["tfa"]" />
                </form>
            </nav>

        </div>
        <form asp-action="Enable_2fa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="rightbox">

                <div id="profile">

                    <h1>Profile</h1>
                    <br />
                    <h3 class="nav-item">
                        Username:
                    </h3>
                    <input type="text" disabled value="@ViewData["Username"]" />
                </div>           

                <div id="enable_tfa">

                    <h5> @ViewData["Text_download"]</h5>
                    <br />
                    <h6>@ViewData["Text_scan"]</h6>
                    <br />
                    <div class="qr_code">
                        <img src="@ViewBag.qr_code" />
                    </div>
                    <br />
                    <h6>@ViewData["tfa_key"]</h6>
                    <br />
                    <h3>@ViewData["Text_introduce"]</h3>

                    <input asp-for="TFA" type="text" />
                    <br /><br />
                          <p style="color:red;">@ViewData["TFAWarning"]</p>
                    <input type="submit" class="btn btn-primary" value="@ViewData["Confirme"]" />
                </div>

                
            </div>
        </form>
    </div>

</body>
</html>
