@model Web_Application.Models.UserData
@{
    ViewData["Title"] = "Account";
}

@if (ViewBag.open_form == "email")
{
    <style>
        #profile {
            display: none;
        }

        #email {
            display: normal;
        }

        #password {
            display: none;
        }

        #tfa {
            display: none;
        }

        #verification {
            display: none;
        }
        #enable_tfa {
            display: none;
        }

        #disable_tfa {
            display: none;
        }
    </style>
}




<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/AccountStyle.css" />
    <script src="~/js/AccountScript.js"></script>
</head>
<body>

    <h2 class="nav-item">
        Manage your account
    </h2>

    <br />
    <h3>
        Change your account settings
    </h3>
    <hr />

    <div class="container">
        <div class="leftbox">
            <nav>

                <button onclick="showprofile()" class="nav-link active mt-auto btn btn-primary"> Profile </button>
                <button onclick="showemail()" class="btn btn-primary buton" id="a_email"> Email </button>
                <form asp-action="redirect_password">
                    <input type="submit" class="btn btn-primary buton" value="Password" />
                </form>
                <form asp-action="redirect_on_2fa">
                    <input type="submit" class="btn btn-primary buton" value="Two-factor-authentication" />
                </form>
            </nav>

        </div>
        <form asp-action="Account_email">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="rightbox">

                <div id="profile">

                    <h1>Profile</h1>
                    <br />
                    <h3 class="nav-item">
                        Username:
                    </h3>
                    <input type="text" disabled value="@ViewData["Username"]" />
                </div>


                <div id="email">
                    <h1>Manage email</h1>
                    <br />
                    <h3>Email:</h3>
                    <input type="email" disabled value="@ViewData["Email"]" />
                    <br /><br />
                    <h3>New Email:</h3>
                    <input asp-for="Email" type="email" />

                    <p style="color:red">@ViewData["WarningEmail"]</p>

                    <input type="submit" class="btn btn-primary" value="Change email" />


                </div>

                <div id="password">
                    <h1>Change password</h1>
                    <br />
                    <h3>New password:</h3>
                    <input asp-for="Password" type="password" />
                    <br /><br />
                    @ViewData["WarningPassword"] <br /> <br />
                    <input type="submit" class="btn btn-primary" value="Change password" />
                </div>


                <div id="tfa">
                    <h1>Two-factor authentication(2FA)</h1>
                    <br />
                    <h3>2FA:@ViewData["2FA"]</h3>

                    <input type="submit" class="btn btn-primary" value="Enable 2FA" />
                    <input type="submit" class="btn btn-primary" value="Disable 2FA" />
                </div>

                <div id="verification">
                    <h1>@ViewData["WarningPassword"]</h1>
                    <h2>Confirme you action</h2>
                    <br />
                    <h3>Introduce verification code</h3>

                    <input asp-for="Secretkey" type="text" />
                    <br /><br />
                    <input type="submit" class="btn btn-primary" value="Confirme" />
                </div>
            </div>
        </form>
    </div>

</body>
</html>

