@model Web_Application.Models.UserData
@{
    ViewData["Title"] = "Account";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/AccountStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <script>
        $(document).ready(function () {
            $("#profile").hide();
            $("#email").show();          
        });
    </script>
    <h2 class="nav-item">
        @ViewData["TextManage"]
    </h2>

    <br />
    <h3>
        @ViewData["TextChange"]
    </h3>
    <hr />

    <div class="container">
        <div class="leftbox">
            <nav>

                <button class="nav-link active mt-auto btn btn-primary" id="button_profile"> @ViewData["Profile"] </button>
                <script>
                    $(document).ready(function () {
                        $('#button_profile').click(function () {
                            $("#profile").show();
                            $("#email").hide();                            
                        });
                    });
                </script>
                <button class="btn btn-primary buton" id="button_email"> @ViewData["Mail"] </button>
                <script>
                    $(document).ready(function () {
                        $('#button_email').click(function () {
                            $("#profile").hide();
                            $("#email").show();
                            
                        });
                    });
                </script>
                <form asp-action="redirect_password">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Password"]" />
                </form>
                <form asp-action="redirect_on_2fa">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["tfa"]" />
                </form>
            </nav>

        </div>
        <form asp-action="Account_email">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="rightbox">

                <div id="profile">

                    <h1>@ViewData["Profile"]</h1>
                    <br />
                    <h3 class="nav-item">
                        @ViewData["User_name"]:
                    </h3>
                    <input type="text" disabled value="@ViewData["Username"]" />
                </div>



                <div id="email">
                    <h1>@ViewData["text_manage_email"]</h1>
                    <br />
                    <h3>@ViewData["Mail"]:</h3>
                    <input type="email" disabled value="@ViewData["Email"]" />
                    <br /><br />
                    <h3> @ViewData["new_email"]:</h3>
                    <input asp-for="Email" type="email" />

                    <p style="color:red">@ViewData["WarningEmail"]</p>

                    <input type="submit" class="btn btn-primary" value="@ViewData["Change_email"]" />
                </div>
                
            </div>
        </form>
    </div>

</body>
</html>

