@model Web_Application.Models.UserData
@{
    ViewData["Title"] = "Account";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/AccountStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <script>
        $(document).ready(function () {
            $("#profile").hide();
            $("#password").show();
        });
    </script>
    <h2 class="nav-item">
        @ViewData["TextManage"]
    </h2>

    <br />
    <h3>
        @ViewData["TextChange"]
    </h3>
    @if (ViewBag.display_2fa == "0")
    {<img style="width:25px; height:25px; float:left;" src="https://cdn-icons-png.flaticon.com/512/179/179386.png" /> <p style="color:red;"> @ViewData["warning_security"]</p>}
    <hr />

    <div class="container">
        <div class="leftbox">
            <nav>

                <button class="btn btn-primary buton" id="button_profile">  @ViewData["Profile"] </button>
                <script>
                    $(document).ready(function () {
                        $('#button_profile').click(function () {
                            $("#profile").show();
                            $("#password").hide();

                        });
                    });
                </script>

                <form asp-action="redirect_email">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["Mail"]" />
                </form>

                <button class="btn btn-primary buton" id="button_password"> @ViewData["Password"] </button>
                <script>
                    $(document).ready(function () {
                        $('#button_password').click(function () {
                            $("#profile").hide();
                            $("#password").show();

                        });
                    });
                </script>

                <form asp-action="redirect_on_2fa">
                    <input type="submit" class="btn btn-primary buton" value="@ViewData["tfa"]" />
                </form>
            </nav>

        </div>
        <form asp-action="Account_password">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="rightbox">

                <div id="profile">

                    <h1>@ViewData["Profile"]</h1>
                    <br />
                    <h3 class="nav-item">
                        @ViewData["User_name"]:
                    </h3>
                    <input type="text" disabled value="@ViewData["Username"]" />
                </div>

                <div id="password">
                    <h1>@ViewData["Change_pass"]:</h1>
                    <br />
                    <h3>@ViewData["new_pass"]:</h3>
                    <input asp-for="Password" type="password" />
                    <br /><br />
                <p style="color:red;">    @ViewData["SecurePass"]                  
                 @ViewData["Oldpass_true"]</p><br /> <br />
                    <input type="submit" class="btn btn-primary" value="@ViewData["Change_pass"]" />
                </div>

            </div>
        </form>
    </div>

</body>
</html>

